<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kursach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Kursach.Properties.Settings>
            <setting name="Color_ceiling" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_wall" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_floor" serializeAs="String">
                <value />
            </setting>
            <setting name="Material1" serializeAs="String">
                <value />
            </setting>
            <setting name="Material2" serializeAs="String">
                <value />
            </setting>
            <setting name="Material3" serializeAs="String">
                <value />
            </setting>
            <setting name="startPage" serializeAs="String">
                <value />
            </setting>
        </Kursach.Properties.Settings>
    </userSettings>
</configuration>